.contact {
    display: flex;
    justify-content: center;
 
 }
 
 .contact-wrapper {
     
     display: flex;
     justify-content: center;
     flex-direction: column;
     align-items: center;
     width: 60%;
 }

 .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:10px;
 }