.contact {
    display: flex;
    justify-content: center;
    color: rgb(255, 255, 255);
 
 }
 
 .contact-wrapper {
     
     display: flex;
     justify-content:flex-start;
     flex-direction: column;
     align-items: center;
     width: 80%;
     height: 50vh;
     background-color: rgba(0, 0, 0, 0.466);
 }
 .contact-paragraph {
   font-size: 1.5rem;
   margin-bottom: 30px;
 }

 .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:20px;
    width: 100%;
    margin-bottom: 30px;
 }

 .form > input {
    width: 50%;
    font-size: 1.8rem;
 }
 .form > textarea {
    width: 50%;
    font-size: 1.8rem;
 }

 .contact-title {
    font-size: 2.5rem;
   margin-bottom: 50px;
  }
 
  @media (max-width:2100px) {
  

   .contact-wrapper {
       width: 90%;
   }
 
   
 }
