.hero {
    height:100vh;
    width: 100vw;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    
}

.hero-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: perspective(1000px) translateZ(100px);
    background-color: rgba(0, 0, 0, 0.37);
    padding: 20px;
    border-radius: 60px;
    box-shadow: 0 90px 40px -20px rgba(0, 0, 0, 0.534);
    
}

.hero-title {
    margin: 0;
    font-size: 3rem;
    color: rgb(255, 255, 255);
}
.hero-button {
    transition: 0.5s ease-in-out ;
    margin-top: 20px;
    border-style: none;
    border: 0px;
    border-radius: 10px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
}

.hero-button:hover {
    transform: scale(1.2);
}

@media (max-width:700px) {
    .hero-title {
        
        font-size: 1.6rem;
        
    }
    
}
