.nav {
    height: 60px;
  width: 100%;
  background-color: rgba(180, 180, 180, 0.75);
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.5);
  position: sticky;
  top: 0;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  display: flex;
  align-items: center;
  justify-content: end;
  column-gap: 24px;
  z-index: 3;
  box-sizing: border-box;
  padding: 0 80px 0 80px;
}




.navlink {
    font-size: 1.5rem;
    text-decoration: none;
    color: black;
    font-family: inherit;
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
  font-weight: 500;
  font-size: 20px;
  transition: 0.3s;
  height: 100%;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

.navlink:hover {
    color: black;
    transform: scale(1.2);
    cursor: pointer;
}


.nav >.active {
    color: rgb(231, 217, 22);
    border-bottom: 4px solid rgb(211, 100, 72);
  }


  
  
  @media (max-width: 800px) {
    .nav {
      justify-content: center;
      height: 44px;
    }
  
    
  }
  
  @media (max-width: 550px) {
    .nav {
      column-gap: 0;
      padding: 0;
      justify-content: space-evenly;
    }
  }